*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --color1: rgb(20, 20, 20);
    --color2: white;
    --color3: rgb(128, 128, 128);
}

body{
    background-color: var(--color3);
}

/* Chat-bot */

chat-bot{
    position: fixed;
    bottom: -255px;
    right: 0;
    margin: 10px;
    z-index: 1000;
    background-color: aqua;
    transition: .3s;
    border-radius: 5px;
}

.empilhar {
    opacity: 0;
    position: fixed;
    z-index: 10010;
    width: 20px;
    height: 20px;
    bottom: 10px;
    right: 150px;
}

.empilhar:checked{
    top: 380px;
}

.empilhar:checked ~ chat-bot {
    bottom: 0;
}

chat-bot i{
    cursor: pointer;
    color: black;
    transition: .3s;
    text-align: center;
    width: 100%;
}

.container-chat{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-chat .resp{
    text-align: justify;
    background-color: var(--color2);
    width: 300px;
    font-size: 15px;
    border-radius: 5%;
    margin: 15px auto;
    overflow-y: scroll;
}

.container-chat .form input{
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

/* Barra de navegação */

.container-navegar{
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.links ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.links ul li a{
    color: white;
    font-size: large;
    text-decoration: none;
}

.container-navegar .direita .profile{
    background-color: var(--color1);
    padding: 35px;
}

.container-navegar .direita .profile i{
    cursor: pointer;
    color: var(--color2);
}

.container-navegar .direita .profile{
    transition: .3s;
}

.container-navegar .direita .profile:hover{
    transform: scale(0.9);
}

.container-navegar .esquerda a{
    display: flex;
    justify-content: center;
}

.container-navegar .esquerda a img{ 
    border-radius: 10px;
}

/* Esquerda-navegação */

.container-navegar .esquerda{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.container-navegar .esquerda img{
    display: flex;
    align-items: center;
}

.links ul li{
    background-color: var(--color1);
    padding: 30px;
    border: 1px solid black;
    transition: .3s;
}

.links ul li:hover{
    transform: scale(0.9);
}

/* Hamburger */

.hamburguer{
    display: none;
    width: 100px;
}

.hamburguer input{
    position: absolute;
    z-index: 100;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.hamburguer i{
    position: absolute;
    z-index: 50;
    font-size: 50px;
    margin-top: 25px;
}

.hamburguer ul{
    background-color: lightgray;
    position: absolute;
    transition: .3s;
    height: 100vw;
    margin-left: -300px;
    z-index: 0;
}

.hamburguer input:checked ~ ul{
    margin-left: 0px;
}

.hamburguer ul li{
    margin: 100px 0px;
    text-align: center;
}

.hamburguer ul li a {
    text-decoration: none;
    color: black;
}


/* Direita-navegação */

.container-navegar .direita{
    display: flex;
    align-items: center;
    gap: 20px;
}

.direita .profile img{
    border-radius: 30px;
    /* mudar */
}

/* Foooter */

footer{
    background-color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .descricao{
    margin-top: 10px;
}

footer .descricao{
    width: 50%;
}

@media (max-width: 800px){
    .hamburguer{
        display: block;
    }

    .esquerda .links{
        display: none;
    }

    .container-navegar{
        display: flex;
        justify-content: space-between;
        margin: 0 0px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    footer .descricao{
        width: 100%;
        text-align: center;
    }

    .container-dir{
        width: 100%;
    }

    .container-esq{
        width: 100%;
    }
}

@media (max-width: 650px){
    footer .imagem, .selo{
        margin-top: 10px;
    }
}

@media (max-width: 450px){
    .container-navegar .direita .profile{
        padding: 20px;
    }
}